@import url('switch.css');
@import url('input.css');
@import url('button.css');
@import url('range.css');
@import url('tables.css');
@import url('nice-table.css');
@import url('scroll.css');
@import url('charts.css');
@import url('tooltip.css');
@import url('coloris.css');
@import url('select2.css');

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter.ttf') format('truetype');
}

@font-face {
    font-family: 'Exo 2';
    src: url('fonts/Exo2.ttf') format('truetype');
}

* {
    user-select: none;
    outline: none;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
}

::selection {
    background: #95959592;
}

.error-hash {
    color: #ff8800;
}

.error-hash:hover {
    color: #ffaa00;
}

.error-hash:active {
    color: #ffcc00;
}

.hidden {
    display: none !important;
}

.label {
    font-size: 0.9rem;
    color: #ffffffcc;
}

.d-flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.gap-1 {
    gap: 0.25rem !important;
}

.gap-2 {
    gap: 0.5rem !important;
}

.gap-3 {
    gap: 1rem !important;
}

.gap-4 {
    gap: 1.5rem !important;
}

.gap-5 {
    gap: 2rem !important;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-between {
    justify-content: space-between;
}

.flex-grow-1 {
    flex-grow: 1;
}

.text-center {
    text-align: center;
}

.text-start {
    text-align: start;
}

.text-end {
    text-align: right !important;
}

.bg-primary {
    background: #ffb462;
}

.color-primary {
    color: #ffb462;
}

.bg-secondary {
    background: #3f3f3f;
}

.color-secondary {
    color: #3f3f3f;
}

.border-primary {
    border-color: #ffb462;
}

.border-secondary {
    border-color: #3f3f3f;
}

.border-radius {
    border-radius: 0.625rem;
}

.shadow {
    box-shadow: 0.0625rem 0.25rem 0.4375rem 0 rgba(0, 0, 0, 0.15);
}

.m-1 {
    margin: 0.25rem;
}

.m-2 {
    margin: 0.5rem;
}

.m-3 {
    margin: 1rem;
}

.m-4 {
    margin: 2rem;
}

.m-5 {
    margin: 4rem;
}

.p-1 {
    padding: 0.25rem;
}

.p-2 {
    padding: 0.5rem;
}

.p-3 {
    padding: 1rem;
}

.p-4 {
    padding: 2rem;
}

.p-5 {
    padding: 4rem;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.h-100 {
    height: 100%;
}

.h-50 {
    height: 50%;
}

.rounded-1 {
    border-radius: 0.25rem;
}

.rounded-2 {
    border-radius: 0.5rem;
}

.rounded-3 {
    border-radius: 1rem;
}

.rounded-4 {
    border-radius: 2rem;
}

.rounded-5 {
    border-radius: 4rem;
}

.mt-1 {
    margin-top: 0.25rem;
}

.mt-2 {
    margin-top: 0.5rem;
}

.mt-3 {
    margin-top: 1rem;
}

.mt-4 {
    margin-top: 2rem;
}

.mt-5 {
    margin-top: 4rem;
}

.mb-1 {
    margin-bottom: 0.25rem;
}

.mb-2 {
    margin-bottom: 0.5rem;
}

.mb-3 {
    margin-bottom: 1rem;
}

.mb-4 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 4rem;
}

.ml-1 {
    margin-left: 0.25rem;
}

.ml-2 {
    margin-left: 0.5rem;
}

.ml-3 {
    margin-left: 1rem;
}

.ml-4 {
    margin-left: 2rem;
}

.ml-5 {
    margin-left: 4rem;
}

.mr-1 {
    margin-right: 0.25rem;
}

.mr-2 {
    margin-right: 0.5rem;
}

.mr-3 {
    margin-right: 1rem;
}

.mr-4 {
    margin-right: 2rem;
}

.mr-5 {
    margin-right: 4rem;
}

.pt-1 {
    padding-top: 0.25rem;
}

.pt-2 {
    padding-top: 0.5rem;
}

.pt-3 {
    padding-top: 1rem;
}

.pt-4 {
    padding-top: 2rem;
}

.pt-5 {
    padding-top: 4rem;
}

.pb-1 {
    padding-bottom: 0.25rem;
}

.pb-2 {
    padding-bottom: 0.5rem;
}

.pb-3 {
    padding-bottom: 1rem;
}

.pb-4 {
    padding-bottom: 2rem;
}

.pb-5 {
    padding-bottom: 4rem;
}

.pl-1 {
    padding-left: 0.25rem;
}

.pl-2 {
    padding-left: 0.5rem;
}

.pl-3 {
    padding-left: 1rem;
}

.pl-4 {
    padding-left: 2rem;
}

.pl-5 {
    padding-left: 4rem;
}

.pr-1 {
    padding-right: 0.25rem;
}

.pr-2 {
    padding-right: 0.5rem;
}

.pr-3 {
    padding-right: 1rem;
}

.pr-4 {
    padding-right: 2rem;
}

.pr-5 {
    padding-right: 4rem;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.d-none {
    display: none !important;
}