.nice-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 1rem);
    position: relative;
    margin-inline: 0.5rem;
}

.nice-input .input {
    width: 100%;
    padding: 0.875rem;
    border-radius: 0.625rem;
    border: none;
    background: rgba(62, 62, 62, 0.35);
    box-shadow: 0.0625rem 0.25rem 0.4375rem 0 rgba(0, 0, 0, 0.15);
    display: flex;
    align-items: center;
}

.nice-input input {
    width: 100%;
    border: none;
    font-weight: 500;
    font-size: 1rem;
    background: none;
    color: rgba(255, 255, 255, 0.75);
}

.nice-input input::placeholder {
    color: rgba(255, 255, 255, 0.5);
}

.nice-input-bar {
    box-shadow: 0 0 0.625rem 0 rgba(255, 180, 98, 0.4);
    background: #ffb462;
    border-radius: 0.1875rem;
    width: 0.25rem;
    height: 50%;
    position: absolute;
    left: 0;
}

.simple-input {
    padding: 0.8rem 0.8rem;
    width: calc(100% - 1.6rem);
    border-radius: 0.375rem;
    border: none;
    background: rgba(62, 62, 62, 0.5);
    border: 0.0625rem solid rgba(71, 71, 71, 0.6);
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    color: #fff;
    transition: border 0.2s;
}

.simple-input::-webkit-inner-spin-button,
.simple-input::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}