.switch-box {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.875rem;
    color: rgba(255, 255, 255, 0.75);
    cursor: pointer;
}

.switch {
    border: 0.125rem solid #afafaf;
    border-radius: 6.25rem;
    width: 1.875rem;
    padding: 0.25rem;
    background: rgba(63, 63, 63, 0.31);
    transition: border 0.3s;
}

.switch .inner {
    background: #afafaf;
    border-radius: 0.375rem;
    width: 0.9375rem;
    height: 0.625rem;
    margin-left: 0rem;
    transition: margin 0.3s, background 0.3s;
}

.switch-box:hover .switch {
    border: 0.125rem solid #d6ae83 !important;
}

.switch-box:hover .switch .inner {
    background: #d6ae83 !important;
}

.switch-box.switched .switch {
    border: 0.125rem solid #ffb462 !important;
}

.switch-box.switched .switch .inner {
    margin-left: 0.9375rem;
    background: #ffb462 !important;
}

.switch-box .label {
    display: flex;
    flex-direction: column;
}

.switch-box .label span:nth-child(2) {
    font-size: 0.75rem;
    color: rgba(255, 255, 255, 0.5);
}